html, body {
  height: 100%;
  margin: 0;
}

header, section {
  height: 100vh;
}

section {
  background-color: blue;
}

.social {
  ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
}

@mixin responsiveDesign($name, $socialIcons, $socialIconsMargin, $paragraphBottom, $introTop, $introBottom) {
  .intro {
    margin: $introTop auto $introBottom auto;
    .name {
      font-size: $name;
      margin-bottom: $paragraphBottom;
    }
  }

  .social {
    img {
      width: $socialIcons;
      margin: auto $socialIconsMargin;
    }
  }
}














@media (min-width: 320px) and (max-width: 359px) {
  @include responsiveDesign(11vw, 50px, 20px, auto, 50px, 50px);
}

@media (min-width: 360px) and (max-width: 480px) {
  @include responsiveDesign(11vw, 70px, 20px, 70px, 80px, 80px);
}
